@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
}

@media (width <= 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: lightgrey;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

table ::-webkit-scrollbar,
.tableContainer::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

table ::-webkit-scrollbar-track,
.tableContainer::-webkit-scrollbar-track:horizontal {
  background: #f1f1f1;
}

table ::-webkit-scrollbar-thumb,
.tableContainer::-webkit-scrollbar-thumb:horizontal {
  background: #888;
}

table ::-webkit-scrollbar-thumb:hover,
.tableContainer::-webkit-scrollbar-thumb:horizontal:hover {
  background: #555;
}
